<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Live_Video</title>
    <script src="https://cdn.socket.io/4.3.2/socket.io.min.js"></script>
    <style>
        #videoElement {
            width: 640px;
            height: 480px;
            background-color: #666;
        }
    </style>
</head>
<body>
    <h2>Video Transmit</h2>
    <video autoplay playsinline id="VideoElement"></video>
    <script>
        const video = document.getElementById("VideoElement");
        const socket = io(); // connects to the backend automatically

        //Access webcam video stream
        navigator.mediaDevices.getUserMedia({ video: true})
            .then((stream) => {
                video.srcObject = stream;
                video.play();

                //Create a canvas to capture the frames
                const canvas = document.createElement('canvas');
                const ctx = canvas.getContext('2d')
                canvas.width = 640;
                canvas.height = 480;

                // Capture and send the frames at approx 10 fps
                setInterval(() => {
                    ctx.drawImage(video, 0, 0, canvas.width, canvas.height);

                    // Get Image as base64-encoded jpeg
                    let frameData = canvas.toDataURL('image/jpeg', 0.7);

                    // Emit frame to backend on 'video_frame' event
                    socket.emit('video_frame', frameData);
                }, 1000);
            })
            .catch(err => {
                console.error("Error accessing webcame", err);
            })
    </script>
</body>
</html>